@model IEnumerable<FoodRecipes.Models.FoodCategory>

<div class="text-center">
    <h1 class="display-4">Food Sections</h1>
</div>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="~/images/recipe.png" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">@item.CategoryName</h5>
                <a class="btn btn-warning" asp-action="ViewRecipeByCategory" asp-route-id="@item.CategoryID">View Food Recipe</a>
            </div>
        </div>
    }
</div>